.createorder .product_table{
    width: 95%;
    height: 80vh;
    margin: 2vh 3.5% ;
    box-sizing: border-box;
}
table{
    border-collapse: collapse;
}
.createorder .table_data {
    border-bottom: 1px solid #c0c0c0;
    border-left: 1px solid #c0c0c0;
    border-right: 1px solid #c0c0c0;
    box-sizing: border-box;
}
.createorder .table_head{
    width: 100%;
    height: 30px;
    background-color: #2F2F2F;
    margin: 0;
}
.createorder .product_table .head {
    font-weight: 400;
    color: white;
    margin-left: 10px;
    text-align: left;
}
.createorder .product_table .product {
    width:300px;
    height:max-content
}
.createorder .product_table .quantity {
    width: 200px;
   text-align: center;
}
.createorder .product_table .quantity input{
    margin-left: 10px;
    width: 50px;
}
.createorder .product_table .wash {
    width: 400px
}
.createorder .product_table .wash p{
    text-align: center;
}
.createorder .product_table .price {
    width: 250px
}
.createorder .product_table .price div{
    margin-left: 15px;
}
.createorder .product_table .details{
    width: 300px;
    display: flex;
    margin-right: 0;
}
.createorder .product_table .details div{
    margin: auto 0;
}
.createorder .product_table .details h3,p{
    margin: 0;
    font-size: 15px;
}
.createorder .product_table .product img{
    width: 50px;
    height: 50px;
    margin: 10px;
}
.createorder .iconsorder div{
    width: 30px;
    margin: auto;
}
.createorder .img2 {
    margin: auto;
        width: 70%;
}
.createorder .img1{
    margin: auto;
    width: 100%;
}
.createorder .iconsorder{
    height: 70px;
    display: flex;
    justify-content: space-around;
}
.createorder .create_btn{
    float: right;
    display: inline;
    margin-top: 10px;
    margin-right: 7px;
}
.createorder .create_btn button{
    margin-left: 10px;
    padding: 8px 30px;
}
.createorder .create_btn :nth-child(2){
    background: #5861AE 0% 0% no-repeat padding-box;
        border: 1px solid #5861AE;
        border-radius: 4px;
        color: white;
}
.createorder .create_btn :nth-child(1) {
    border: 1px solid #5861AE;
        border-radius: 4px;
        color: #5861AE;
}
.createorder .price p{
    margin-left: 15px;
}
.createorder .price div{
    display: flex;
    justify-content: space-between;
}
.reset{
    margin-right: 20px;
    border: 1px solid #5861AE;
        border-radius: 4px;
        color: #5861AE;
        padding: 5px 10px;
}
